/* General Styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background: linear-gradient(1000deg, #3b6bb9, #5089ea);
}

/* Header */

h1 {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-size: calc(60 / 16 * 1rem);
}

/* POP UP */

.popup {
  text-align: center;
  padding: 30px;
  border-radius: 10px;
  position: absolute;
  background: #fff;
  width: 100%;
  max-width: 500px;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.103);
}
.popup h2 {
  font-size: calc(29 / 16 * 1rem);
  background: -webkit-linear-gradient(#ebe9e9, #a3a3a3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gold {
  background: -webkit-linear-gradient(#fee382, #f3aa44);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.popup p {
  font-size: calc(18 / 16 * 1rem);
  text-align: justify;
  padding: 15px 0 20px 0;
  font-weight: 500;
  color: rgb(59, 59, 59);
}

.popup button {
  font-weight: 500;
  color: #fff;
  padding: 8px 15px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;

  transition: 0.5s;
  background-image: linear-gradient(1000deg, #8ab2f3, #5e99fd);
}

.popup button:hover {
  cursor: pointer;
  backface-visibility: hidden;
  transform: scale(0.95);
}

/* Wrapper */

.wrapper {
  opacity: 0;
  pointer-events: none;
  height: 650px;
  width: 650px;
  padding: 20px;
  background-color: rgb(245, 245, 245);
  border-radius: 10px;
}
.cards,
.card,
.view {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Cards  */

.cards {
  height: 100%;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cards .card {
  cursor: pointer;
  position: relative;
  perspective: 800px;
  transform-style: preserve-3d;
  width: calc(100% / 4 - 10px);
  height: calc(100% / 4 - 10px);
}

.card.shake {
  animation: shake 0.5s ease-in-out;
}
@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-5px);
  }
  40% {
    transform: translateX(5px);
  }
  60% {
    transform: translateX(-3px);
  }
  80% {
    transform: translateX(3px);
  }
}

.cards .card .view {
  width: 100%;
  height: 100%;
  user-select: none;
  pointer-events: none;
  border-radius: 10px;
  background: #fff;
  position: absolute;
  transition: transform 0.3s linear;
  backface-visibility: hidden;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

/* Front View */
.card .front-view span {
  background: -webkit-linear-gradient(#fee382, #e49c37);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: calc(50 / 16 * 1rem);
}
.card.flip .front-view {
  transform: rotateY(180deg);
}

/* Back view */

.card .back-view {
  transform: rotateY(-180deg);
}

.card .back-view img {
  max-width: 90px;
}

.card.flip .back-view {
  transform: rotateY(0);
}

/* Footer */

.footer {
  opacity: 0;
  pointer-events: none;
  margin-top: 50px;
}
.footer-link,
.footer-link:visited {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  transition: all 0.3s ease;
  display: inline-block;
  position: relative;
}

.footer-link::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #fff;
  position: absolute;
  bottom: 10%;
  z-index: -1;
  transition: all 0.3s ease;
  border-radius: 1px;
}

.footer-link:hover {
  color: #5089ea;
  background-color: #fff;
  transition: all 0.3s ease;
}

.footer-link:hover::after {
  height: 20px;
}

/* MEDIA QUERY */
@media (max-width: 690px) {
  /* Wrapper */
  .wrapper {
    height: 600px;
    width: 600px;
  }
  /* Back view */
  .card .back-view img {
    max-width: 85px;
  }
}

@media (max-width: 619px) {
  /* Wrapper */

  .wrapper {
    height: 550px;
    width: 550px;
  }
  /* Back view */

  .card .back-view img {
    max-width: 75px;
  }
}

@media (max-width: 560px) {
  h1 {
    font-size: calc(50 / 16 * 1rem);
  }
  /* Wrapper */

  .wrapper {
    height: 500px;
    width: 500px;
  }
  /* Front View */
  .card .front-view span {
    font-size: calc(45 / 16 * 1rem);
  }
  /* Back view */
  .card .back-view img {
    max-width: 70px;
  }
}

@media (max-width: 510px) {
  h1 {
    font-size: calc(40 / 16 * 1rem);
  }
  /* Wrapper */

  .wrapper {
    height: 450px;
    width: 450px;
  }
  /* Front View */
  .card .front-view span {
    font-size: calc(40 / 16 * 1rem);
  }
  /* Back view */
  .card .back-view img {
    max-width: 60px;
  }
}
@media (max-width: 455px) {
  /* Wrapper */

  .wrapper {
    height: 410px;
    width: 410px;
  }
  /* Back view */
  .card .back-view img {
    max-width: 50px;
  }

  /* Footer */
  .footer-link,
  .footer-link:visited {
    font-size: 0.9rem;
  }
}

@media (max-width: 420px) {
  h1 {
    font-size: calc(30 / 16 * 1rem);
  }
  /* Wrapper */

  .wrapper {
    height: 380px;
    width: 380px;
  }
  /* Front View */
  .card .front-view span {
    font-size: calc(35 / 16 * 1rem);
  }
  /* Back view */
  .card .back-view img {
    max-width: 45px;
  }
  /* Footer */
  .footer-link,
  .footer-link:visited {
    font-size: 0.8rem;
  }
}

@media (max-width: 385px) {
  /* Wrapper */

  .wrapper {
    height: 350px;
    width: 350px;
  }
  /* Back view */
  .card .back-view img {
    max-width: 42px;
  }
}
